#small {
    font-size: 0.75em;
    color:rgb(53, 53, 53);
    padding-left: 75%;
}
#small2 {
    font-size: 0.75em;
    color:rgb(53, 53, 53);
    padding-left: 5%;
}
* {
    background-color: aliceblue;
}
h1, p, h2 {
    color: rgb(0, 49, 91);
}
#img1 {
max-width: 50%;
height: auto;
}
#img2 {
max-width: 44.7%;
height: auto;
}
#div1{
    height: 430px;
    width: auto;
}
button {
    border: none;
    color: rgb(0, 100, 188);
    background-color: rgb(216, 234, 250);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    margin: 4px 2px;
    cursor: pointer;
}