#small {
    font-size: 0.75em;
    color:rgb(53, 53, 53);
    padding-left: 75%;
}

button {
    border: none;
    color: white;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}