#small {
    font-size: 0.75em;
    color:rgb(53, 53, 53);
    padding-left: 75%;
}
#small2 {
    font-size: 0.75em;
    color:rgb(53, 53, 53);
    padding-left: 5%;
}
* {
    background-color: rgb(219, 50, 92);
}
h1, p, h2, h3, a {
    color: rgb(128, 0, 32);
}
#img1 {
max-width: 50%;
height: auto;
}
#img2 {
max-width: 44.7%;
height: auto;
}
#div1{
    height: auto;
    width: 100px;
}
button {
    border: none;
    color: rgb(128, 0, 32);
    background-color:  rgb(205, 36, 79);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    margin: 4px 2px;
    cursor: pointer;
}